$green: #87e4c5;
$coral: #ff6f9e;
$shadow-colour: #1b1b1b;
$shadow: 2px 2px 10px 0px $shadow-colour;
$shadow-hover: 4px 7px 15px 3px $shadow-colour;

@mixin box-shadow {
  box-shadow: 2px 2px 10px 0px $shadow-colour;
  -webkit-box-shadow: 2px 2px 10px 0px $shadow-colour;
  -moz-box-shadow: 2px 2px 10px 0px $shadow-colour;
}
@mixin hover-box-shadow {
  box-shadow: 4px 7px 15px 3px $shadow-colour;
  -webkit-box-shadow: 4px 7px 15px 3px $shadow-colour;
  -moz-box-shadow: 4px 7px 15px 3px $shadow-colour;
}

* {
  font-family: 'Ubuntu', Courier, serif;
}
body {
  background-color: white;
  height: 100%;
  overflow:hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

.ball {
  height: 1rem;
  width: 1rem;
  display: inline-block;
  background-color: $green;
  border-bottom: 3px solid $coral;
  border-radius: 50%;
}

.header-image {
  z-index: 2;
  position: absolute;
}

.container {
  max-width: 100%;
  max-height: 100%;
}
.content {
  padding: 0 7% 0 7%;
  position:relative;
  overflow-y: auto;
  height: 34rem;
  margin-bottom: 5rem;
}

#nav-column {
  height: 100vh;
  background-color: $green;
  position: relative;
  overflow:hidden;
  @include box-shadow;
}

#top {
  width: 100vw;
  z-index: 3;
  position: absolute;
  background-color: black;
}

#stuff {
  width: 100vw;
  height: 18vh;
  z-index: 0;
  position: absolute;
  background-color: $coral;
  box-shadow: 2px 2px 10px 0px $shadow-colour;
  -webkit-box-shadow: 2px 2px 10px 0px $shadow-colour;
  -moz-box-shadow: 2px 2px 10px 0px $shadow-colour;
  text-align: right;
}

#main {
  padding-top: 20vh;
}


.outside-link {
  max-width: 2rem;
  transition: all .1s ease-in-out;
  margin-right: 1rem;
  &:hover {
    transform: scale(1.3);
  }
  &:active {
    transform: scale(1.3);
  }
}

a.link {
  color: black;
  text-decoration: none;
}

img.proj-img {
  display:inline-block;
  max-height: 8rem;
  transition: all .2s ease-in-out;
  @include box-shadow;
  margin: 1rem;
  &:hover {
    @include hover-box-shadow;
  }
}

/*---------------------index stuff----------------------*/
#card {
  width: 98%;
  height: 80%;
}

#card-img{
  width: 40%;
  height: 90%;
  @include box-shadow;
  position:relative;
  display: inline-block;
}

img#hi {
  max-height:100%;
  max-width: 80%;
  border: 2px solid #616161;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#card-content {
  margin-left: 1rem;
  padding: .6rem;
  width: 55%;
  height: 90%;
  position: relative;
  display: inline-block;
  float:right;
}

/*---------------------bubble links----------------------*/
.bubble {
  min-width: 10rem;
  min-height: 5rem;
  background: #FFFFFF;
  border: #000000 solid 3px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  border-radius: 80px;
  @include box-shadow;
  position: absolute;
  padding: 1rem;
  text-align: center;
  z-index: 4;
  transition: all .2s ease-in-out;
  &:before {
    top: -31px;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 13px 29px;
    border-color: #000000 transparent;
    display: inline-block;
    width: 0;
    z-index: 0;
  }
  &:after {
    top: -26px;
    content: "";
    position: absolute;
    border-color: #FFFFFF transparent;
    border-style: solid;
    border-width: 0 11px 27px;
    display: block;
    width: 0;
    z-index: 1;
  }
  &:hover {
    transform: scale(1.05);
    @include hover-box-shadow;
 }
}

.spch-btn-1 {
  top: 30%;
  right: 10%;
  &:before {
    left: 80px;
  }
  &:after {
    left: 82px;
  }
}

.spch-btn-2 {
  top: 50%;
  left: 10%;
  &:before {
    left: 38px;
  }
  &:after {
    left: 40px;
  }
}

.spch-btn-3 {
  top: 70%;
  left: 35%;
  &:before {
    left: 50px;
  }
  &:after {
    left: 52px;
  }
}

p.speech {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 1.15rem;
  font-weight: bold;
}

/*---------------------small links----------------------*/
#small-links {
  max-width: 67%;
  padding-top: .6rem;
  float: right;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}

.lnk-btn {
  position:relative;
  padding: .3rem;
  margin: .2rem;
  border: 2px solid #000;
  border-radius: 0 15px 10px 15px;
  background-color: #FFF;
  display:inline-block;
  -webkit-box-shadow: 2px 2px 10px 0px $shadow-colour;
  -moz-box-shadow: 2px 2px 10px 0px $shadow-colour;
  box-shadow: 2px 2px 10px 0px $shadow-colour;
}

/*---------------------screen sizes----------------------*/
@media (min-width: 800px) {
  .header-image {
    max-width: 30%;
  }
  #nav-column {
    height: 100vh;
  }
  #top {
    height: 1rem;
  }
  #stuff {
    padding: 1rem;
  }
  #small-links {
    display: none;
  }
}

@media (max-width: 800px) {
  .header-image {
    max-width: 45%;
  }
  #nav-column {
    height: 4rem;
  }
  #top {
    height: .5rem;
  }
  #main {
    padding-top: 15vh;
  }
  #stuff {
    height: 18vh;
    padding-top: 11vh;
    padding-right: 3vw;
  }
  #name {
    display:inline-block;
    padding-right: 2px;
  }
  .bubble {
    display: none;
  }
  #card {
    width: 100%;
    height: 100%;
  }
  #card-img {
    width: 10rem;
    height: 12rem;
  }
  #card-content {
    width: 100%;
    float:clear;
  }
  .cat {
    max-height: 1rem;
  }
  // .content {
  //   height:
  // }
}

@media (max-width: 320px) {
  #stuff {
    height: 24vh;
    padding-top: 15vh;
  }
  #small-links {
    font-size: .8rem;
  }
  .content {
    height: 20rem;
  }
}
